<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出納帳</title>
</head>

<body>
    <h1>非ログインTop</h1>

    <h2>ログイン</h2>
    <form action="./login.php" method="post">
        id: <input type="text" name="id"><br>
        password: <input type="password" name="pw"><br>
        <br>
        <button>ログイン</button>
    </form>
    <a href="./reminder.php">パスワードを忘れた方はこちらから</a>

    <h2>会員登録</h2>
    <a href="./register.php">会員登録画面に進む</a>
</body>

</html>