{# ベースとなるテンプレートを継承する #}
{% extends "layout.twig" %}

{# 本体 #}
{% block body %}
    <h1>会員登録</h1>
    {% if register.error.error_must_email == true %}
        <p>emailは必須入力です</p>
    {% endif %}
    {% if register.error.error_must_pw == true %}
        <p>パスワードは必須入力です</p>
    {% endif %}
    {% if register.error.error_must_pw2 == true %}
        <p>再度パスワードは必須入力です</p>
    {% endif %}
    {% if register.error.error_email_valid == true %}
        <p>emailは正しく入力してください</p>
    {% endif %}
    {% if register.error.error_pw_to_long == true %}
        <p>パスワードは72文字以内にしてください</p>
    {% endif %}
    {% if register.error.error_pw_nomatch == true %}
        <p>パスワードと再度パスワードが違います</p>
    {% endif %}


    <form action="register_fin.php" method="post">
        お名前:
        <input name="name" type="text" value="{{ register.post.name }}"><br>
        email:
        <input id="" name="email" type="email" value="{{ register.post.email }}"><br>
        パスワード:
        <input id="" name="pw" type="password"><br>
        パスワード確認:
        <input id="" name="pw2" type="password"><br>
        <button>会員登録</button>
    </form>
{% endblock %}
